@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

ul li {
  list-style-type: none;
}

/* width */
::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: none;
}

body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

svg {
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 999;
}

#nav-open {
  position: fixed;
  right: 0;
  background-color: black;
  z-index: 998;
  width: 60vw;
  min-height: 100vh;
  -webkit-animation: slide 1s ease-in-out;
          animation: slide 1s ease-in-out;
}

@-webkit-keyframes slide {
  from {
    width: 0vw;
  }
  to {
    width: 60vw;
  }
}

@keyframes slide {
  from {
    width: 0vw;
  }
  to {
    width: 60vw;
  }
}

@media (min-width: 1000px) {
  #nav-open {
    width: 30vw;
  }
  @-webkit-keyframes slide {
    from {
      width: 0vw;
    }
    to {
      width: 30vw;
    }
  }
  @keyframes slide {
    from {
      width: 0vw;
    }
    to {
      width: 30vw;
    }
  }
}

#nav-open ul {
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 50vh;
  margin-top: 100px;
  padding: 10px 20px;
}

#nav-open ul li {
  list-style-type: none;
  font-size: 50px;
  font-weight: 100;
}

.display {
  display: none;
}

section {
  min-height: 100vh;
}

section .container {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

section .container .title h2 {
  font-size: 40px;
  font-weight: 700;
}

section .container .title h3 {
  font-size: 25px;
  font-weight: 500;
  margin: 5px 0;
}

#hero,
#ui-ux,
#about {
  background: #000000;
}

#hero .container {
  color: #dcd16b;
}

#hero .container .arrow {
  width: 50px;
  position: absolute;
  bottom: 5%;
  right: 2%;
}

#hero .container .arrow img {
  width: 100%;
}

#hero .container .front-box,
#hero .container .back-box {
  width: 600px;
  height: 400px;
  border: solid 1px #dcd16b;
}

@media (max-width: 900px) {
  #hero .container .front-box,
  #hero .container .back-box {
    width: 80%;
    height: 50%;
  }
}

#hero .container .front-box {
  position: absolute;
  top: 25%;
  z-index: 1;
  background: #000000;
  padding: 50px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#hero .container .front-box h1 {
  font-size: 75px;
  font-weight: 900;
}

@media (max-width: 700px) {
  #hero .container .front-box h1 {
    font-size: 35px;
  }
}

#hero .container .front-box h2 {
  text-align: right;
  width: 92%;
}

@media (max-width: 700px) {
  #hero .container .front-box h2 {
    font-size: 15px;
    width: 95%;
  }
}

#hero .container .front-box a {
  display: block;
  border: solid 1px #dcd16b;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 15px 40px;
  font-size: 21px;
  margin: 0 auto;
  -webkit-box-shadow: 5px 5px 0 #dcd16b;
          box-shadow: 5px 5px 0 #dcd16b;
}

#hero .container .back-box {
  position: absolute;
  left: 16%;
  top: 18%;
  z-index: 0;
}

#frontend {
  background: #dcd16b;
}

#frontend .table {
  margin: 80px auto;
  border: solid 5px black;
  -webkit-box-shadow: 0 20px 0 black;
          box-shadow: 0 20px 0 black;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 400px) {
  #frontend .table {
    padding: 15px;
  }
}

#frontend .table h3 {
  text-align: center;
  margin: 0 0 50px 0;
  font-size: 35px;
  font-weight: 600;
}

#frontend .table .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 900px) {
  #frontend .table .projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#frontend .table .projects .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 5px;
  border: solid 2.5px black;
  padding: 20px 10px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

@media (max-width: 900px) {
  #frontend .table .projects .card {
    margin: 5px 0;
  }
}

#frontend .table .projects .card:hover {
  background: #000000;
  color: #dcd16b;
}

#frontend .table .projects .card h4 {
  margin: 20px 0;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

#frontend .table .projects .card p {
  text-align: justify;
  line-height: 1.8;
  font-size: 15px;
  font-weight: 400;
  width: 90%;
  margin: 0 auto;
}

#ui-ux {
  color: #dcd16b;
}

#ui-ux .box-container {
  margin: 80px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 900px) {
  #ui-ux .box-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#ui-ux .box-container .left-box,
#ui-ux .box-container .right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 10px;
  border: solid 2.5px #dcd16b;
  -webkit-box-shadow: 5px 5px 0 #dcd16b;
          box-shadow: 5px 5px 0 #dcd16b;
  padding: 50px;
  min-height: 500px;
  text-align: center;
}

@media (max-width: 900px) {
  #ui-ux .box-container .left-box,
  #ui-ux .box-container .right-box {
    margin: 10px 0;
  }
}

#ui-ux .box-container .left-box h4,
#ui-ux .box-container .right-box h4 {
  font-weight: 800;
  font-size: 30px;
  margin: 40px 0 40px 0;
}

@media (max-width: 900px) {
  #ui-ux .box-container .left-box h4,
  #ui-ux .box-container .right-box h4 {
    font-size: 25px;
  }
}

#ui-ux .box-container .left-box p,
#ui-ux .box-container .right-box p {
  line-height: 2;
  font-size: 15px;
  font-weight: 300;
  text-align: justify;
  margin: 5px 0;
}

#ui-ux .box-container .left-box a,
#ui-ux .box-container .right-box a {
  display: block;
  margin: 20px auto;
  padding: 20px 40px;
  background: #292822;
  border: solid 1px #dcd16b;
}

#ui-ux .box-container .left-box .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 900px) {
  #ui-ux .box-container .left-box .link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#about {
  color: #dcd16b;
}

#about .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

@media (max-width: 900px) {
  #about .box-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#about .box-container .left-box,
#about .box-container .right-box {
  margin: 0 10px;
}

@media (max-width: 900px) {
  #about .box-container .left-box,
  #about .box-container .right-box {
    margin: 10px 0;
  }
}

#about .box-container .left-box {
  border: solid 1px #dcd16b;
  -webkit-box-shadow: 20px 0 0 #dcd16b;
          box-shadow: 20px 0 0 #dcd16b;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

#about .box-container .left-box h3 {
  font-size: 30px;
  font-weight: 900;
  margin: 10px;
}

#about .box-container .left-box .thin {
  font-size: 18px;
  font-weight: 200;
  margin: 10px 0;
  text-align: justify;
}

#about .box-container .left-box p {
  text-align: justify;
  line-height: 1.8;
  margin: 10px 0;
}

#about .box-container .left-box .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 900px) {
  #about .box-container .left-box .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#about .box-container .left-box .links .cv {
  background: #292822;
  border: solid 1px #dcd16b;
  padding: 10px 20px;
}

#about .box-container .left-box .links .icons {
  width: 20%;
}

@media (max-width: 900px) {
  #about .box-container .left-box .links .icons {
    margin-top: 10px;
    width: 100%;
  }
}

#about .box-container .left-box .links .icon-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#about .box-container .left-box .links .icon-cont .icon-img {
  width: 20px;
}

#about .box-container .left-box .links .icon-cont .icon-img img {
  width: 100%;
}

#about .box-container .right-box {
  margin-left: 50px;
}

#about .box-container .right-box .img-cont {
  width: 70%;
}

@media (max-width: 1100px) {
  #about .box-container .right-box .img-cont {
    display: none;
  }
}

#about .box-container .right-box .img-cont img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */